section{
    height: 100%;
    border: 2px black solid;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    /* grid-template-rows: 10% 85% 5%; */
    grid-template-rows:repeat(15,1fr) ;
    grid-template-columns: repeat(12,1fr);
}

header{
    grid-column: span 12;
    grid-row: span 2;
}

/* app-main-components{
    grid-column: span 12;
    grid-row: span 7;
    background-color:aliceblue;
}

app-shopping-components{
    grid-column: span 12;
    background-color: aliceblue;
} */

main{
    grid-column: span 12;
    grid-row: span 12;
    background-color: aliceblue;
}

footer{
    grid-column: span 12;
    grid-row: span 1;
    background-color: rgb(77, 200, 241);
}

h3{
    margin-top: 15px;
    font-weight: bold;
}