<section>
    <header>
        <app-header></app-header>
    </header>

    <main>

        <router-outlet></router-outlet>

    </main>

    <footer>
        <h3>Programmed front-end and back-end by Wael Haddad</h3>
    </footer>
</section>







<!-- <div *ngIf="ifLoggedIn; then shoppingPage else mainPage"></div>
    <ng-template #shoppingPage>
        <app-shopping-components></app-shopping-components>
    </ng-template>
    <ng-template #mainPage>
        <app-main-components></app-main-components>
    </ng-template> -->