.input-div{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.popUpBox{
    width: 500px;

    
      overflow: hidden;

      background:aqua;
    
      box-shadow:10px 10px 10px 10px grey;
    
      border-radius: 10px;
    
      position: absolute;
    
      top: 50%;
    
      left: 50%;
    
      transform: translate(-50%, -50%);
    
      z-index: 1;
    
      padding: 20px;
    
      text-align: center;
    
      
}