.grid--container{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    box-sizing: border-box;
    margin:auto;
    height: 100%;
    padding: 10px;
    
}

.cart{
    grid-column:span 3 ;
    grid-row: span 12;
    margin: 10px;
    height: auto;
    border: 1px solid black;
    background-color: white;
    
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;  
    

}

.products{
    grid-column: span 9;
    grid-row: span 12;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
}

a{
    margin:10px;
}

nav{
    padding: 10px;
}